---
import BlogLayout from "../../layouts/BlogLayout.astro";
import "../../styles/index.css";
---

<BlogLayout title="A summer at CriTech">
    <p class="text-xl my-6 mx-1"><a href="/blog">&#x2190; Back</a></p>
    <h1 class="text-3xl text-gradient pb-5">A summer at CriTech</h1>
    <p class="mb-12">
        Under construction...
    </p>
</BlogLayout>
