---
import BlogLayout from "../../layouts/BlogLayout.astro";
import "../../styles/index.css";
---

<BlogLayout title="A summer at CriTech" date="08-06-2023">
    <p class="mt-6 mb-12">
        I spent my freshman summer at an office near my hometown. The company is called
        <a href="https://critech.com/" target="_blank">CriTech Research, Inc.</a> They provide
        medical software development, validation, and ISO certification. I was given a decent welcome:
        my office room consisted of 3 desks but one was vacant. My roommate was pretty cool; he was pursing
        his Masters in biomedical engineering or something. I was given a 2 monitor desktop setup running
        Windows 10, which was tolerable (though not ideal). I was NOT given a company laptop, so I brought
        in my own every day.
        <br /><br />
        The office was pretty small and I was the only intern. I was given guidance for the first few
        weeks, then I was essentially on my own as a junior engineer. This was really helpful for me
        because I felt that the guidance was slowing my growth. That being said, I still felt held
        back. In an internship, I look for opportunities to grow creatively and intellectually.
        CriTech did neither. I was given features or bugs to work on and that was that. What is it
        that people say? You either learn or you earn, and I was doing neither (my salary was quite
        low, even for a first-year intern).
        <br /><br />
        My coworkers seemed also unhappy. Apparently they were required to work 45 hours a week, which
        is almost laughable since there was barely work to fill 20 hours. Most were funny and
        provided me company throughout my summer. I wish them all the best in finding better, more
        creative opportunities.
        <br /><br />
        In my case, however, I can't complain too much. Before coming in, I was a freshman with about 2,
        maybe 3 good projects and no prior work experience. Now, I have a much better idea of what I
        want in a office culture, size, and location. I have to thank CriTech for putting faith in me
        (or maybe they just needed extra hands, lol) and giving me a chance to grow. The biggest thing
        I learned is that I'm fine working 40 hours a week, as long as I have something interesting
        to do.
        <br /><br />
        Overall, I'm very grateful to have been given this opportunity. I learned a lot about software
        development and validation, and I got to work with some funny people. I'm also happy to be able
        to improve my <a href="/Resume.pdf" target="_blank">resume.</a> I would not come back, though.
        I'm looking for my next internship elsewhere, wherever it may be.
    </p>
</BlogLayout>
