---
import BlogLayout from "../../layouts/BlogLayout.astro";
import "../../styles/index.css";
---

<BlogLayout title="Summer 2024 Recruiting" date="10-19-2023">
    <p class="mt-6 mb-12">
		This was my first real recruiting season and I was horribly unprepared. My resume, when I started applying, was absolutely laughable. It (I kid you not) had blue coloring for the headers. What a joke. I then switched to a Harvard google docs template, which I used for most of the recruiting season. As a result, I got much fewer callbacks than I should've. It's actually a miracle I ended up interviewing with Lucid Software, Vectra AI, Nutanix, USAA, etc. In fact, I had so many interviews that I had to start turning down some because I needed to focus on schoolwork.
		<br /><br />
		Here is a list of reasons why I was unprepared.
		<br /><br />
		OAs. I was horrible at leetcode when I started applying. As a result, I bombed the Roblox OA. Then, I bombed the Citadel OA. After that, I started doing daily problems. In one and a half months, I learned countless leetcode topics. I can now ace Codesignal OAs half the time. If I took the Roblox and Citadel OAs now, I would probably be able to solve them (I vaguely remember the problems I was given). I've come to enjoy leetcoding and figuring out optimal solutions (provided that the problem is a good one). I'm actually excited to take the Advanced Algorithms course at UMich.
		<br /><br />
		Behaviorials. AGAIN, I was unprepared, so I bombed my first behaviorial. Luckily, it was for Milwaukee Tool. I didn't want to work there anyway. The reason I struggle with these is that it's hard for me to come up with answers on the spot. It is tricky to prepare; my advice is to just practice (either with burner companies or mocks). Koya and Ani helped me with mock interviews and I'm extremely grateful for that.
		<br /><br />
		Classes. Since I transferred to UMich, enforced prerequisites prevent me from taking the advanced classes I want. This is just unlucky, there's nothing I can do about this. I'm a semester behind but hopefully I can catch up before junior year. (Maybe I'll take 281, 370, 376 in the same semester?)
		<br /><br />
		Yesterday, I got my first offer for USAA. I'm immensely proud of this given my lack of preparation. It just goes to show that no matter what, hard work will get you where you want to be. Next year, I won't be unprepared. I'll start much earlier, get a good internship (or RO), and hopefully secure that return offer for new grad.
		<br /><br />
		Update as of 10/26. I've received a couple of other offers and I've decided to go with Vectra! I'm going to be 1 of 4 (eng) interns and the work seems to be the most interesting of the places I've interviewed at. Apparently, all of the intern projects are still in production.
		<br /><br />
		I couldn't have done this without the help of others. First of all, Koya and Ani mock interviewed me. I'm really grateful for this. Also,
		<a href="https://weirongw.io/" target="_blank">Peter Wu</a> helped. I went to his SWE Playbook talk and it improved my interviewing skills a good amount. I'm pretty sure those 3 are the only reason I have a chance at an internship this season. I'm grateful to so many people for helping me get an internship for summer 2024.
		<br /><br />
		Statline: 200+ applications, ~7 interviews, 4 offers.
    </p>
</BlogLayout>
