---
import BlogLayout from "../../layouts/BlogLayout.astro";
import "../../styles/index.css";
---

<BlogLayout title="Summer 2024 Recruiting" date="10-19-2023">
    <p class="mt-6 mb-12">
		This was my first real recruiting season and I was horribly unprepared. My resume, when I started applying, was absolutely laughable. It (I kid you not) had blue coloring for the headers. What a joke. I then switched to a Harvard google docs template, which I used for most of the recruiting season, and finally switched to <a href="https://github.com/jonasiwnl/resume" target="_blank">Jake's resume.</a> As a result, I got much fewer callbacks than I should've. It's actually a miracle I ended up interviewing with Lucid Software, Vectra AI, Nutanix, USAA, etc. In fact, I had so many interviews that I had to start turning down some because I needed to focus on schoolwork. Here is some advice. Iterate on your resume until it is perfect and iterate DURING the summer before recruiting. You need to finish before August 1st, ideally sooner.
		<br /><br />
		Here is a list of reasons why I was unprepared.
		<br /><br />
		OAs. I was horrible at leetcode when I started applying. As a result, I bombed Roblox OA. Then, I bombed Citadel OA. After that, I started grinding. In 1.5 months, I learned countless leetcode topics. I can now ace Codesignal OAs half the time. What a learning journey it has been. If I took the Roblox and Citadel OAs now, I would destroy them (I remember the problems, so I am not BSing you). I've come to enjoy leetcoding and figuring out optimal solutions (provided that the problem is a good one). A huge shoutout to <a href="https://www.youtube.com/@NeetCode" target="_blank">NeetCode</a>, he is why I can pass OAs.
		<br /><br />
		Behaviorials. AGAIN, I was unprepared, so I bombed my first behaviorial. Luckily, it was for Milwaukee Tool. I didn't want to work there anyway. Behaviorals are hard... I struggle with coming up with answers on the spot. It is extremely tricky to prepare; my advice is to just practice (either with burner companies or mocks). Koya and Ani helped me with mock interviews and I'm extremely grateful for that.
		<br /><br />
		Classes. Since I transferred to UMich, I am fucked by enforced prerequisites. This is simply unlucky, there's nothing I can do about this. I'm a semester behind but hopefully I can catch up before junior year. (Maybe I will take 281, 370, 376 in the same semester?)
		<br /><br />
		Yesterday, I got my first offer for USAA. I'm immensely proud of this given my lack of preparation. It really just goes to show that no matter what, hard work will prevail. Next year, I will not be unprepared. I will start much earlier, get a good internship (or RO), and hopefully secure that return offer for new grad.
		<br /><br />
		Update as of 10/26. I've received a couple of other offers and I've decided to go with Vectra! I'm going to be 1 of 4 interns which seems like an amazing opportunity. The work also seems really interesting from my time talking with the team. They are also a linux shop, which is awesome.
		<br /><br />
		I couldn't have done this without the help of others. First of all, Koya and Ani mock interviewed me. I'm really grateful for this. Also,
		<a href="https://weirongw.io/" target="_blank">Peter Wu</a> is the goat. I went to his SWE Playbook talk and it helped more than I can explain. I'm pretty sure those 3 are the only reason I have a chance at an internship this season. I'm grateful to so many people for helping me get an internship for summer 2024.
		<br /><br />
		Statline: 200+ applications, ~7 interviews, 3 offers.
    </p>
</BlogLayout>
