---
import BlogLayout from "../../layouts/BlogLayout.astro";
import "../../styles/index.css";
---

<BlogLayout title="Hollow Knight Appreciation" date="01-01-2024">
    <p class="mt-6 mb-12">
        One of my favorite games of all time is the popular platformer Hollow Knight. I bought this game during a christmas sale in 2022. Since then, I have spent around 90 hours on the game. My favorite activity in video games is exploration: I love diving into new worlds, seeing the art, learning the culture, and finding hidden areas. 
    </p>
</BlogLayout>
