---
import Layout from "../../layouts/Layout.astro";
import ToggleTheme from "../../components/ToggleTheme.astro";
import "../../styles/index.css";

type Blog = {
    title: string;
    date: string;
    link: string;
};

const blogs: Blog[] = [
    {
        title: "Summer 2024 Recruiting",
        date: "10-19-2023",
        link: "/blog/4",
    },
    {
        title: "Exploring a Creative Application Challenge",
        date: "08-08-2023",
        link: "/blog/3",
    },
    {
        title: "A summer at CriTech",
        date: "08-06-2023",
        link: "/blog/2",
    },
    {
        title: "Solving a mysterious 504",
        date: "08-04-2023",
        link: "/blog/1",
    },
]
---

<Layout title="Jonas | Blog">
    <main>
    <div class="header text-right mb-4">
        <a class="align-top mr-1" href="/">index/</a>
        <ToggleTheme />
    </div>
    <div class="w-full mb-3">
        <h1 class="pb-3 text-4xl">Jonas <span class="text-gradient">&#x2605 Blog</span></h1>
    </div>
    <p class="mb-7">Don't expect too much here.</p>

    { blogs.map((blog) => {
        return (
            <div class="flex items-center my-2">
                <p>{blog.date} --&#x2192;</p>
                <p class="text-lg ml-5">{blog.title} | <a href={blog.link}>Read</a></p>
            </div>
        )
    }) }
    </main>
</Layout>
