@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("/font/JetBrainsMonoNL-Regular.ttf") format("truetype"),
        url("/font/JetBrainsMono-Regular.woff2") format("woff2");
}

* {
    font-family: "JetBrains Mono", monospace;
}

html::before,
html::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: calc(50% - min(325px, 40%) - 6rem);
    background-color: var(--p-color);
    -webkit-mask-image: var(--dither-pattern);
    mask-image: var(--dither-pattern);
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;
    pointer-events: none;
    z-index: -1;
}

html::before {
    left: 0;
}

html::after {
    right: 0;
}

body {
    width: 80%;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 1rem;
    position: relative;
}

body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--p-color);
}

body::before {
    left: calc(50% - min(325px, 40%) - 6rem);
}

body::after {
    right: calc(50% - min(325px, 40%) - 6rem);
}

p,
ul,
li {
    color: var(--p-color);
}
p a,
li a {
    color: var(--pa-color);
}
p a li ul {
    color: var(--pa-color);
}
h1 {
    color: var(--h2-color);
}
h2 {
    color: var(--h2-color);
}
img {
    border-radius: 5px;
}
.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.text-box {
    padding-top: 2rem;
    padding-right: 3rem;
}
.stack {
    width: 15%;
    padding-top: 1rem;
}
.projects-text-box {
    width: 90%;
    min-width: 20rem;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem auto;
}
.header {
    color: var(--p-color);
}
.header a:hover {
    color: var(--pa-color);
}
a {
    transition: color 0.4s ease;
}
a:hover {
    text-decoration: underline;
}
