---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonas | Education">
    <h1 class="text-2xl underline mb-4">education</h1>
    <h2 class="text-xl">B.S.E, Computer Science @ University of Michigan</h2>
    <p>Graduating Spring 2026 | GPA: 4.00</p><br />

    <p>Relevant Coursework:</p>
    <p>+ EECS 491: Distributed Systems</p>
    <p>+ EECS 376: Analysis of Algorithms</p>
    <p>+ EECS 370: Computer Organization</p>
    <p>+ EECS 281: Data Structures and Algorithms</p>
    <p>+ EECS 280: Programming and Data Structures</p>
    <p>+ EECS 203: Discrete Math</p>
    <p>+ MATH 214: Linear Algebra</p>

    <br/>
    <p>Activities: <a href="https://v1michigan.com" target="_blank">V1 @ Michigan</a>, <a href="https://www.umarv.com" target="_blank">UM Autonomous Robotic Vehicle</a>, <a href="https://michhackers.com/" target="_blank">Michigan Hackers</a></p>
</Layout>
