---
import Layout from "../layouts/Layout.astro";
import ExperienceEntry from "../components/ExperienceEntry.astro";

const experiences = [
    {
        position: "Incoming Software Engineer Intern",
        company: "Glean",
        company_url: "https://glean.com/",
        date: "May 2025 -- August 2025",
        description: "",
        tech_stack: ["TBD"],
    },
    {
        position: "Software Engineer Intern",
        company: "Courier Health",
        company_url: "https://www.courierhealth.com/",
        date: "September 2024 -- November 2024",
        description: "Took a semester off to visit NYC and ship some code.",
        tech_stack: ["TypeScript", "GraphQL", "AWS Lambda", "RDS/Postgres", "DynamoDB"]
    },
    {
        position: "Software Engineer Intern",
        company: "Vectra AI",
        company_url: "https://www.vectra.ai",
        date: "May 2024 -- August 2024",
        description: "Forbes AI 50. Worked on some cool platform and backend stuff; all projects shipped to prod.",
        tech_stack: ["Python", "Celery", "Terraform", "AWS S3", "Elasticache", "RDS/MariaDB", "K8S"]
    },
    {
        position: "Platform Engineer",
        company: "V1 Michigan",
        company_url: "https://v1michigan.com",
        date: "Jan 2024 -- May 2024",
        description: "Shipping experiences for the largest builder community on campus.",
        tech_stack: ["TypeScript", "NextJS", "Supabase"]
    },
    {
        position: "Software Engineer Intern",
        company: "CriTech Research",
        company_url: "https://critech.com/",
        date: "May 2023 -- August 2023",
        description: "Worked on patient analytics infra.",
        tech_stack: ["Python", "Flask", "MySQL", "Azure", "Terraform"]
    },
    {
        position: "Software Engineer",
        company: "UM Autonomous Robotic Vehicle",
        company_url: "https://www.umarv.com/",
        date: "September 2023 -- May 2023",
        description: "Sensors team. Robots are difficult.",
        tech_stack: ["Python", "C++", "ROS2", "Docker"]
    },
    {
        position: "Building",
        company: "Quarry.video",
        company_url: "https://quarry.video",
        date: "Jan 2023 -- May 2023",
        description: "Fullstack design and development. Built product from 0 to 1.",
        tech_stack: ["TypeScript", "NextJS", "Python", "Django", "MongoDB", "Docker", "Terraform"]
    }
];
---

<Layout title="Jonas | Experience">
    <h1 class="text-2xl mb-4 underline">experience</h1>
    {experiences.map(exp => (
        <ExperienceEntry {...exp} />
    ))}
    <div class="text-right my-12 header">
        <a href="#">back to top &#x2191;</a>
    </div>
</Layout>
