---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonas | Experience">
    <h1 class="text-2xl mb-4 underline">experience</h1>
    <div class="flex mb-10">
        <div class="text-box">
            <h2 class="text-xl">Software Engineering Intern @ <a href="https://www.courierhealth.com/" target="_blank">Courier Health</a></h2>
            <p>Incoming</p>
            <br />
            <p>Taking a semester off to build and scale a CRM for healthcare.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>--</p></li>
            </ul>
        </div>
    </div>
    <div class="flex mb-10">
        <div class="text-box">
            <h2 class="text-xl">Software Engineering Intern @ <a href="https://www.vectra.ai" target="_blank">Vectra AI</a></h2>
            <p>May 2024 -- August 2024</p>
            <br />
            <p>1 of 4 engineering interns. Forbes AI 50. Worked on some cool platform and backend stuff; all projects shipped to prod.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>Celery</p></li>
                <li><p>Terraform</p></li>
                <li><p>S3</p></li>
                <li><p>Elasticache</p></li>
                <li><p>RDS/MariaDB</p></li>
                <li><p>K8S</p></li>
            </ul>
        </div>
    </div>
    <div class="flex mb-10">
        <div class="text-box">
            <h2 class="text-xl">Technology Discovery Day @ <a href="https://sig.com" target="_blank">SIG</a></h2>
            <p>April 2024</p>
            <br />
            <p>learned about how trading systems are designed and implemented</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>N/A</p></li>
            </ul>
        </div>
    </div>
    <div class="flex mb-10">
        <div class="text-box">
            <h2 class="text-xl">Platform Engineer @ <a href="https://v1michigan.com" target="_blank">V1 Michigan</a></h2>
            <p>Jan 2024 -- May 2024</p>
            <br />
            <p>Shipping experiences for the largest builder community on campus.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Typescript</p></li>
                <li><p>NextJS</p></li>
                <li><p>Supabase</p></li>
            </ul>
        </div>
    </div>
    <div class="flex mb-10">
        <div class="text-box">
            <h2 class="text-xl">Software Engineering Intern @ <a href="https://critech.com/" target="_blank">CriTech Research</a></h2>
            <p>May 2023 -- August 2023</p>
            <br />
            <p>Worked on patient analytics infra.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>Flask</p></li>
                <li><p>MySQL</p></li>
                <li><p>Azure</p></li>
                <li><p>Terraform</p></li>
            </ul>
        </div>
    </div>
    <div class="flex mb-10">
        <div class="text-box">
            <h2 class="text-xl">Software Engineer @ <a href="https://www.umarv.com/" target="_blank">UM Autonomous Robotic Vehicle</a></h2>
            <p>September 2023 -- May 2023</p>
            <br />
            <p>Sensors team. Robots are difficult.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>C++</p></li>
                <li><p>ROS2</p></li>
                <li><p>Docker</p></li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="text-box">
            <h2 class="text-xl">Building @ <a href="https://quarry.video" target="_blank">Quarry.video</a></h2>
            <p>Jan 2023 -- May 2023</p>
            <br />
            <p>Fullstack design and development. Built product from 0 to 1.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Typescript</p></li>
                <li><p>NextJS</p></li>
                <li><p>Python</p></li>
                <li><p>Django</p></li>
                <li><p>MongoDB</p></li>
                <li><p>Docker</p></li>
                <li><p>Terraform</p></li>
            </ul>
        </div>
    </div>

    <div class="text-right my-12 header">
        <a href="#">Back to top &#x2191;</a>
    </div>
</Layout>
