---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import "../styles/index.css";
---

<Layout title="jonasiwnl">
	<div class="w-full mb-7">
		<p class="pt-3">I like building things and learning about how systems are designed. I'm studying computer science at the <a href="https://umich.edu/" target="_blank">University of Michigan</a> and currently taking courses on distributed systems and computer architecture.</p>
		<br />
		<p>I'll be joining <a href="https://glean.com" target="_blank">Glean</a> this summer. Previously, I worked at <a href="https://www.vectra.ai" target="_blank">Vectra AI</a>, a cybersecurity unicorn, and <a href="https://www.courierhealth.com/" target="_blank">Courier Health</a>, a Series A healthcare startup.</p>
		</p>
		<br />
		<p>
            Outside of engineering I like to hike, explore new places, invest, and write. I also play soccer and chess occasionally.
		</p>
	</div>
	<ContactCard />
</Layout>
