---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import "../styles/index.css";
---

<Layout title="jonasiwnl">
	<div class="w-full mb-7 mt-6">
		<!-- <h1 class="pb-3 text-2xl underline">about</h1> -->
		<p>I'm a software engineer interested in distributed systems and security. I'm in my final year at the <a href="https://umich.edu/" target="_blank">University of Michigan</a> and will be joining <a href="https://shv.com" target="_blank">Sutter Hill Ventures</a> as a Codepoint Fellow upon graduation.</p>
        <br />
		<p>Previously, I worked at <a href="https://glean.com" target="_blank">Glean</a>, improving the security of crawlers; <a href="https://www.vectra.ai" target="_blank">Vectra AI</a>, optimizing compute-heavy workloads; and <a href="https://www.courierhealth.com/" target="_blank">Courier Health</a>, building observability tooling.</p>
		</p>
		<br />
		<p>
            Outside of engineering I play soccer, hike, invest, and read.
		</p>
		<!--
		<br />
		<p>
			Some previous work:
			<br />
			- <a href="https://github.com/gleanwork/glean-proxy" target="_blank">GleanProxy</a>
			<br />
			- <a href="https://www.vectra.ai/blog/we-just-made-the-vectra-ai-platform-even-better" target="_blank">Improvements to the Vectra AI platform</a>
		</p>
		-->
	</div>
	<ContactCard />
</Layout>
