---
import Layout from "../layouts/Layout.astro";
import ToggleTheme from "../components/ToggleTheme.astro";
import ContactCard from "../components/ContactCard.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import EducationSection from "../components/EducationSection.astro";
import "../styles/index.css";
---

<Layout title="Jonas | Portfolio">
	<main>
	<div class="header text-right mb-4 whitespace-nowrap">
		<a class="align-top mr-1" href="#Experience">Experience</a>
		<a class="align-top mr-1" href="#Education">Education</a>
		<a class="align-top mr-1" href="#Projects">Projects</a>
		<a class="align-top mr-1" href="/blog">Blog</a>
		<ToggleTheme />
	</div>
		<div class="w-full text-center mb-1">
			<h1 class="pb-3 text-4xl">Jonas <span class="text-gradient">Groening &#x2602;</span><p class="text-sm text-gradient">(gray-ning)</p></h1>
			<h2 class="text-3xl pb-5">Software/<span class="text-gradient">Systems Engineer &#x2605;</span></h2>
		</div>
		<ContactCard />
		<ExperienceSection />
		<EducationSection />
		<ProjectsSection />
		<ContactCard />
		<div class="text-center my-10 header">
			<a href="#">Back to top &#x2191;</a>
		</div>
	</main>
</Layout>
