---
import Layout from "../layouts/Layout.astro";
import ResourcesCard from "../components/ResourcesCard.astro";
import ContactCard from "../components/ContactCard.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import EducationSection from "../components/EducationSection.astro";
import "../styles/index.css";
---

<Layout title="Jonas | Portfolio">
	<main>
		<div class="w-full text-center mb-1">
			<h1 class="pb-5 text-4xl">Welcome to <span class="text-gradient">my portfolio.</span></h1>
		</div>
		<ul role="list" class="link-card-grid">
			<ResourcesCard
				href="https://www.linkedin.com/in/jonasgroening/"
				title="My LinkedIn"
				body="Connect with me!"
				target="_blank"
			/>
			<ResourcesCard
				href="https://github.com/arael34/"
				title="My GitHub"
				body="Check out some source code."
				target="_blank"
			/>
			<!--
			<Card
				href="/blog"
				title="Blog"
				body="I barely write anything."
			/>
			-->
		</ul>
		<ContactCard />
		<ExperienceSection />
		<ProjectsSection />
		<EducationSection />
		<ContactCard />
	</main>
</Layout>
