---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import "../styles/index.css";
---

<Layout title="Jonas | About">
	<div class="w-full mb-7">
		<h1 class="pb-3 text-2xl underline">about</h1>
		<p>I like building things and learning about how systems are designed. I'm currently:</p>
		<ul>
			<li><p>- studying computer science at the University of Michigan</p></li>
			<li><p>- a software engineering intern at <a href="https://www.courierhealth.com/" target="_blank">Courier Health</a></p></li>
			<li><p>- working on <a href="https://github.com/jonasiwnl/distributed-fileserver" target="_blank">a distributed filesystem in Go</a></p></li>
		</ul>
		<br />
		<p>Previously, I worked at <a href="https://www.vectra.ai" target="_blank">Vectra AI</a> and <a href="https://critech.com/" target="_blank">CriTech Research</a> as a software engineering intern.</p>
		</p>
		<br />
		<p>
			Outside of engineering I like to hike, play soccer & chess, and explore new places. I also like learning about investing and math.
		</p>
	</div>
	<ContactCard />
</Layout>
