---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import "../styles/index.css";
---

<Layout title="Jonas | About">
	<div class="w-full mb-7">
		<h1 class="pb-3 text-2xl underline">about</h1>
		<p>
			I'm studying computer science at the University of Michigan and am interested in systems, theory, and low-latency C++. Currently working on <a href="https://github.com/jonasiwnl/beehive" target="_blank">beehive</a> and want to look more into ML infrastructure.
		</p>
		<br />
		<p>
			Outside of school I like learning about math, physics, investing, and playing chess. I also love hiking.
		</p>
	</div>
	<ContactCard />
</Layout>
