---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import "../styles/index.css";
---

<Layout title="jonasiwnl">
	<div class="w-full mb-7 mt-6">
		<!-- <h1 class="pb-3 text-2xl underline">about</h1> -->
		<p>
			I'm a software engineer in my final year at the <a href="https://umich.edu/" target="_blank">University of Michigan</a> and will be joining <a href="https://shv.com" target="_blank">Sutter Hill Ventures</a> as a Codepoint Fellow upon graduation.
		</p>
		<br />
		<p>
			Previously, I worked at <a href="https://glean.com" target="_blank">Glean</a> and other startups, working on large-scale systems, security, and web development.
		</p>
		</p>
		<br />
		<ul>
			<li><a href="https://www.goodreads.com/book/show/762476.Kokoro" target="_blank">Kokoro</a> by Natsume Sōseki</li>
			<li><a href="https://www.generalist.com/p/founders-fund-1" target="_blank">No Rivals</a> by Mario Gabriele</li>
			<li><a href="https://www.imdb.com/title/tt0353969/" target="_blank">Memories of Murder</a> directed by Bong Joon-ho</li>
			<li><a href="https://www.goodreads.com/book/show/6288.The_Road" target="_blank">The Road</a> by Cormac McCarthy</li>
			<li><a href="https://en.wikipedia.org/wiki/Solo_Leveling" target="_blank">Solo Leveling</a> by Chugong</li>
		</ul>
		<!--
		<br />
		<p>
			Some previous work:
			<br />
			- <a href="https://github.com/gleanwork/glean-proxy" target="_blank">GleanProxy</a>
			<br />
			- <a href="https://www.vectra.ai/blog/we-just-made-the-vectra-ai-platform-even-better" target="_blank">Improvements to the Vectra AI platform</a>
		</p>
		-->
	</div>
	<ContactCard />
</Layout>
