---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import "../styles/index.css";
---

<Layout title="Jonas | About">
	<div class="w-full mb-7">
		<h1 class="pb-3 text-2xl underline">about</h1>
		<p>I like building things and learning about how systems are designed. I'm a junior studying computer science at the <a href="https://umich.edu/" target="_blank">University of Michigan</a> and currently trying to hack away at some side projects.</p>
		<br />
		<p>Previously, I worked at <a href="https://www.vectra.ai" target="_blank">Vectra AI</a>, a cybersecurity unicorn, and <a href="https://www.courierhealth.com/" target="_blank">Courier Health</a>, a Series A healthcare startup.</p>
		</p>
		<br />
		<p>
			Outside of engineering I like to hike, play soccer & chess, and explore new places. I also like learning about investing and math.
		</p>
	</div>
	<ContactCard />
</Layout>
