---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import "../styles/index.css";
---

<Layout title="jonasiwnl">
	<div class="w-full mb-7 mt-6">
		<!-- <h1 class="pb-3 text-2xl underline">about</h1> -->
		<p>I like building things and learning about how systems are designed. I'm in my final year at the <a href="https://umich.edu/" target="_blank">University of Michigan</a> studying computer science.</p>
        <br />
		<p>Previously, I worked at <a href="https://glean.com" target="_blank">Glean</a>, the Google for enterprise; <a href="https://www.vectra.ai" target="_blank">Vectra AI</a>, a cybersecurity unicorn; and <a href="https://www.courierhealth.com/" target="_blank">Courier Health</a>, a Series A healthcare startup.</p>
		</p>
		<br />
		<p>
            Outside of engineering I like to hike, explore, invest, and write. I play soccer and am trying to pick up tennis.
		</p>
	</div>
	<ContactCard />
</Layout>
