---
import Layout from "../layouts/Layout.astro";
import ToggleTheme from "../components/ToggleTheme.astro";
import ResourcesCard from "../components/ResourcesCard.astro";
import ContactCard from "../components/ContactCard.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import EducationSection from "../components/EducationSection.astro";
import "../styles/index.css";
---

<Layout title="Jonas | Portfolio">
	<main>
	<div class="header text-right mb-4">
		<a class="align-top mr-1" href="#Experience">Experience</a>
		<a class="align-top mr-1" href="#Education">Education</a>
		<a class="align-top mr-1" href="#Projects">Projects</a>
		<a class="align-top mr-1" href="/blog">Blog</a>
		<ToggleTheme />
	</div>
		<div class="w-full text-center mb-1">
			<h1 class="pb-3 text-4xl text-gradient">Jonas Groening &#x2602; <p class="text-sm">(gray-ning)</p></h1>
			<h2 class="pb-5 text-3xl">Welcome to <span class="text-gradient">my portfolio.</span></h1>
		</div>
		<ul role="list" class="link-card-grid mx-12">
			<ResourcesCard
				href="https://www.linkedin.com/in/jonasgroening/"
				title="My LinkedIn"
			/>
			<ResourcesCard
				href="https://github.com/jonasiwnl/"
				title="My GitHub"
			/>
			<ResourcesCard
				href="/Resume.pdf"
				title="Current Resume"
			/>
		</ul>
		<ContactCard />
		<ExperienceSection />
		<EducationSection />
		<ProjectsSection />
		<ContactCard />
		<div class="text-center my-10 header">
			<a href="#">Back to top &#x2191;</a>
		</div>
	</main>
</Layout>
