---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonas | Projects">
    <h1 id="Projects" class="text-2xl mb-4 underline">projects</h1>

    <p class="my-4">Warning! This page is outdated. For more recent projects visit my <a target="_blank" href="https://github.com/jonasiwnl">github.</a></p>

    <div class="flex mb-4">
        <div class="text-box">
            <h2 class="text-xl">Sink</h2>
            <p>
                I'm building an easy file transfer system for myself. This issue stems from file-sharing between my phone and computers.
                <a href="https://github.com/jonasiwnl/sink" target="_blank">repo.</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Golang</p></li>
                <li><p>Typescript</p></li>
                <li><p>NextJS</p></li>
                <li><p>Redis</p></li>
            </ul>
        </div>
    </div>
    
    <div class="flex mb-4">
        <div class="text-box">
            <h2 class="text-xl">Embedchain</h2>
            <p>
                I've contributed to the open source library
                <a href="https://github.com/embedchain/embedchain" target="_blank">Embedchain.</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>Typescript</p></li>
                <li><p>Elastisearch</p></li>
                <li><p>ChromaDB</p></li>
            </ul>
        </div>
    </div>
    
    <div class="flex mb-4">
        <div class="text-box">
            <h2 class="text-xl">QLogger</h2>
            <p>
                I built a centralized, hostable logging service.
                <a href="https://github.com/jonasiwnl/qlogger" target="_blank">repo</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Golang</p></li>
                <li><p>Typescript</p></li>
                <li><p>MongoDB</p></li>
                <li><p>Docker</p></li>
            </ul>
        </div>
    </div>
    
    <div class="flex mb-4">
        <div class="text-box">
            <h2 class="text-xl">ASL EVO (MHacks 16)</h2>
            <p>
                ASL EVO is a game to help people learn American Sign Language.
                The mascot is Biff, who starts small but evolves as you earn
                more points! This project was built for MHacks 16.
                <a href="https://aslevo.tech" target="_blank">Try it out!</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Typescript</p></li>
                <li><p>NextJS</p></li>
                <li><p>MongoDB</p></li>
                <li><p>Vercel</p></li>
            </ul>
        </div>
    </div>
    
    <div class="flex mb-4">
        <div class="text-box">
            <h2 class="text-xl">Tlack</h2>
            <p>
                A terminal chat app in under 200 lines of code.
                <a href="https://github.com/jonasiwnl/tlack" target="_blank">repo</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>Websockets</p></li>
            </ul>
        </div>
    </div>
    
    <div class="flex mb-4">
        <div class="text-box">
            <h2 class="text-xl">Concept Map Generator</h2>
            <p>
                A semester-long project built with a team of student developers.
                <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">repo</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>Flask</p></li>
                <li><p>Javascript</p></li>
            </ul>
        </div>
    </div>
    
    <div class="flex mb-4">
        <div class="text-box">
            <h2 class="text-xl">Hazard Detector (Spartahack 8)</h2>
            <p>
                A project for Spartahack 8, winning the best use of Twilio. We built a
                smart logging and alarm system for homes using an Arduino board.
                <a href="https://github.com/jonasiwnl/spartahack8" target="_blank">repo</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>C++</p></li>
                <li><p>Arduino</p></li>
                <li><p>Python</p></li>
                <li><p>Flask</p></li>
                <li><p>Twilio</p></li>
            </ul>
        </div>
    </div>
    
    <div class="flex mb-14">
        <div class="text-box">
            <h2 class="text-xl">Simulations in Rust</h2>
            <p>
                Various simulations in rust! This is how I learned programming before university.
                <a href="https://github.com/jonasiwnl/nbody" target="_blank">N-body</a>
                <a href="https://github.com/jonasiwnl/physarum" target="_blank">Physarum</a>
                <a href="https://github.com/jonasiwnl/quickpipes" target="_blank">Pipes</a>
            </p>
        </div>
        <div class="stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Rust</p></li>
            </ul>
        </div>
    </div>

    <div class="text-right my-10 header">
        <a href="#">Back to top &#x2191;</a>
    </div>
</Layout>
