---
import Layout from "../layouts/Layout.astro";

const projects = [
    {
        title: "Beehive",
        description: `<p>A multithreaded screen recording tool with the capability to stream to a server or save to disk.
                      <a href="https://github.com/jonasiwnl/beehive" target="_blank">repo</a></p>`,
        stack: ["C++", "FFMPEG"]
    },
    {
        title: "ZipNotes",
        description: `<p>An overengineered browser note-taking app written in Rust. Notes are saved to local browser storage. The colors are customizable!
                      <a href="https://main--earnest-torte-133e13.netlify.app/" target="_blank">visit</a> and
                      <a href="https://github.com/jonasiwnl/zipnotes" target="_blank">repo</a></p>`,
        stack: ["Rust", "WASM", "Docker", "Nginx"]
    },
    {
        title: "Embedchain",
        description: `<p>I've contributed to the open source library
                      <a href="https://github.com/embedchain/embedchain" target="_blank">Embedchain.</a></p>`,
        stack: ["Python", "Typescript", "Elastisearch", "ChromaDB"]
    },
    {
        title: "QLogger",
        description: `<p>I built a centralized, hostable logging service.
                      <a href="https://github.com/jonasiwnl/qlogger" target="_blank">repo</a></p>`,
        stack: ["Golang", "Typescript", "MongoDB", "Docker"]
    },
    {
        title: "ASL EVO (MHacks 16)",
        description: `<p>ASL EVO is a game to help people learn American Sign Language.
                      The mascot is Biff, who starts small but evolves as you earn
                      more points! This project was built for MHacks 16.
                      <a href="https://aslevo.tech" target="_blank">Try it out!</a></p>`,
        stack: ["Typescript", "NextJS", "MongoDB", "Vercel"]
    },
    {
        title: "Tlack",
        description: `<p>A terminal chat app in under 200 lines of code.
                      <a href="https://github.com/jonasiwnl/tlack" target="_blank">repo</a></p>`,
        stack: ["Python", "Websockets"]
    },
    {
        title: "Concept Map Generator",
        description: `<p>A semester-long project built with a team of student developers.
                      <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">repo</a></p>`,
        stack: ["Python", "Flask", "Javascript"]
    },
    {
        title: "Hazard Detector (Spartahack 8)",
        description: `<p>A project for Spartahack 8, winning the best use of Twilio. We built a
                      smart logging and alarm system for homes using an Arduino board.
                      <a href="https://github.com/jonasiwnl/spartahack8" target="_blank">repo</a></p>`,
        stack: ["C++", "Arduino", "Python", "Flask", "Twilio"]
    },
    {
        title: "Simulations in Rust",
        description: `<p>Various simulations in rust! This is how I learned programming before university.
                      <a href="https://github.com/jonasiwnl/nbody" target="_blank">N-body</a>
                      <a href="https://github.com/jonasiwnl/physarum" target="_blank">Physarum</a>
                      <a href="https://github.com/jonasiwnl/quickpipes" target="_blank">Pipes</a></p>`,
        stack: ["Rust"]
    }
];
---

<Layout title="Jonas | Projects">
    <h1 class="text-2xl mb-4 underline">projects</h1>

    <p class="my-4">A list of recent projects, might be outdated. For a full list visit my <a target="_blank" href="https://github.com/jonasiwnl">github.</a></p>

    {projects.map(project => (
        <div class="flex mb-4">
            <div class="text-box">
                <h2 class="text-xl">{project.title}</h2>
                <p set:html={project.description} />
            </div>
            <div class="stack">
                <h2 class="text-xl">Stack</h2>
                <ul>
                    {project.stack.map(tech => (
                        <li><p>{tech}</p></li>
                    ))}
                </ul>
            </div>
        </div>
    ))}

    <div class="text-right mb-10 mt-14 header">
        <a href="#">back to top &#x2191;</a>
    </div>
</Layout>
