<div class="flex flex-row flex-wrap gap-2 mb-5 mt-8">
    <p>
    <a href="mailto:jonasg@umich.edu"">
        Email
    </a>
    </p>

    <p>
    <a href="https://github.com/jonasiwnl" target="_blank">
        Github
    </a>
    </p>

    <p>
    <a href="https://www.instagram.com/0xjonas/" target="_blank">
        Instagram
    </a>
    </p>

    <p>
    <a href="https://x.com/jonaswnl" target="_blank">
        X
    </a>
    </p>

    <p>
    <a href="https://www.linkedin.com/in/jonasgroening/" target="_blank">
        Linkedin
    </a>
    </p>
   
    <div class="flex mt-2">
</div>

<style>
    svg {
        fill: var(--p-color);
    }
</style>
