<div class="flex flex-col text-center my-5">
    <p>Want to get in touch?</p>
    <p>
        Email me at <a class="hover:underline" href="mailto:jonasg@umich.edu">jonasg@umich.edu</a>
        or find me on <a class="hover:underline" href="https://www.instagram.com/0xjonas/">Instagram</a>
    </p>
</div>
