<div class="flex flex-col text-center">
    <p>want to get in touch?</p>
    <p>email me at <a href="mailto:jonasg@umich.edu">jonasg@umich.edu</a></p>
    <p>or find me on <a href="https://www.instagram.com/0xjonas/">instagram</a></p>
</div>
