---
// import TechnologiesCard from "./TechnologiesCard.astro";
---

<h1 id="Education" class="text-3xl mt-7 text-gradient">Education</h1>
<h2 class="text-xl pt-[1rem]">University of Michigan</h2>
<p>B.S.E, Computer Science</p><br/>
<!--
<p>
    I'm currently attending the College of Engineering at the
    University of Michigan, Ann Arbor. I'm pursuing a B.S.E. in
    Computer Science. On top of software engineering, I enjoy learning
    about CS theory and concepts.
</p>
<br />
<h2 class="text-xl">Technologies</h2>
    <div class="flex justify-between">
        <TechnologiesCard name="C++" src="/cpp.png" />
</div> -->
<p>Relevant Coursework: Data Structures and Algorithms, Discrete Math, Prog. and Introductory Data Structures, Linear Algebra</p>
<br/>
<p>Activities: V1 @ Michigan, UM Autonomous Robotic Vehicles</p>
