<h1 id="Education" class="text-3xl mt-7 text-gradient">Education</h1>
<h2 class="text-xl pt-[1rem]">University of Michigan</h2>
<p>B.S.E, Computer Science</p><br/>
<p>Relevant Coursework: Data Structures and Algorithms, Computer Organization, Foundations of Computer Science, Discrete Math, Linear Algebra</p>
<br/>
<p>Activities: <a href="https://v1michigan.com" target="_blank">V1 @ Michigan</a>, <a href="https://www.umarv.com" target="_blank">UM Autonomous Robotic Vehicle</a></p>
