<h1 id="Education" class="text-3xl mt-7 text-gradient">Education</h1>
<h2 class="text-xl pt-[1rem]">B.S.E, Computer Science @ University of Michigan</h2>
<p>Graduating Spring 2026 | GPA: 4.0</p><br />
<!-- <p>Relevant Coursework: Data Structures and Algorithms, Computer Organization, Foundations of Computer Science, Discrete Math, Linear Algebra</p> -->

<p>Relevant Courework:</p>
<p>+ EECS 376: Foundations of Computer Science</p>
<p>+ EECS 370: Computer Organization</p>
<p>+ EECS 281: Data Structures and Algorithms</p>
<p>+ EECS 280: Programming and Data Structures</p>
<p>+ EECS 203: Discrete Math</p>
<p>+ MATH 214: Linear Algebra</p>

<br/>
<p>Activities: <a href="https://v1michigan.com" target="_blank">V1 @ Michigan</a>, <a href="https://www.umarv.com" target="_blank">UM Autonomous Robotic Vehicle</a></p>
