---
import { Image } from "@astrojs/image/components";
import TechnologiesCard from "./TechnologiesCard.astro";
---

<h1 class="text-4xl my-7 text-center">Education</h1>
<div class="flex items-center">
    <div class="text-box">
        <h2 class="text-xl">University of Michigan</h2>
        <p>
            I'm currently attending the College of Engineering at the
            University of Michigan, Ann Arbor. I'm pursuing a B.S.E. in
            Computer Science.
        </p>
        <h2 class="text-xl">Technologies</h2>
            <div class="flex justify-between">
                <TechnologiesCard name="C++" src="/cpp.png" />
            </div>
    </div>
    <div></div>
    <Image
        src="/umich.png"
        alt="University of Michigan"
        class="mx-auto"
        width={200}
        height={200}
    />
</div>
