---
// import TechnologiesCard from "./TechnologiesCard.astro";
---

<div id="Experience">
    <h1 class="text-3xl mt-10 text-gradient">Experience</h1>
    <div class="flex">
        <div class="text-box">
            <h2 class="text-xl">Software Engineering Intern @ CriTech Research, Inc.</h2>
            <p>May 2023 -- August 2023</p>
            <!-- 
            <p>
                Over the summer, I'm working full time at CriTech Research, Inc. as an
                intern. Currently, I'm using Python and OpenCV to create a tool to
                visualize multiple x-ray images as a 3d model. I previously extended and
                refactored a legacy C# .NET codebase to make a more robust and secure API.
                I also created a CI/CD pipeline with Jenkins to continually test and deploy that backend.
            </p>
            <br /> --> <!-- Remove this -->
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Typescript</p></li>
                <li><p>Python</p></li>
                <li><p>C#</p></li>
                <li><p>.NET</p></li>
                <li><p>Jenkins</p></li>
                <li><p>MySQL</p></li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="text-box">
            <h2 class="text-xl">Building @ Quarry.video</h2>
            <p>Jan 2023 -- May 2023</p>
            <!--
            <p>
                I interned at a startup to build a tool to help video editors work efficiently. 
                You can visit the WIP at <a href="https://www.quarry.video" target="_blank">quarry.video.</a>
                I've built out many backend features, such as a typesafe database wrapper
                for MongoDB, or a message queue system with RabbitMQ.
            </p>
            <br /> --> <!-- Remove this -->
            <!--
            <p>
                I also experimented with some infra tools like Terraform and Docker to automate various
                tasks (testing, deploying, etc.)
            </p> -->
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Typescript</p></li>
                <li><p>NextJS</p></li>
                <li><p>Python</p></li>
                <li><p>Django</p></li>
                <li><p>MongoDB</p></li>
                <li><p>Docker</p></li>
                <li><p>Terraform</p></li>
            </ul>
        </div>
    </div>
</div>
