<div id="Experience">
    <h1 class="text-4xl mt-16 mb-4 text-gradient">Experience</h1>
    <div class="flex mb-6">
        <div class="text-box">
            <h2 class="text-xl">Software Engineering Intern @ <a href="https://www.vectra.ai" target="_blank">Vectra AI</a></h2>
            <p>Incoming</p>
            <br />
            <p>One of 4 engineering interns. Forbes AI 50.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>--</p></li>
            </ul>
        </div>
    </div>
    <div class="flex mb-6">
        <div class="text-box">
            <h2 class="text-xl">Software Engineer @ <a href="https://www.umarv.com/" target="_blank">UM Autonomous Robotic Vehicle</a></h2>
            <p>August 2023 -- Present</p>
            <br />
            <p>Sensors team. Robots are difficult.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>C++</p></li>
                <li><p>ROS2</p></li>
                <li><p>Docker</p></li>
            </ul>
        </div>
    </div>
    <div class="flex mb-6">
        <div class="text-box">
            <h2 class="text-xl">Software Engineering Intern @ <a href="https://critech.com/" target="_blank">CriTech Research</a></h2>
            <p>May 2023 -- August 2023</p>
            <br />
            <p>Backend & Infrastructure. Worked on some cool healthcare projects.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Python</p></li>
                <li><p>Flask</p></li>
                <li><p>C#</p></li>
                <li><p>.NET</p></li>
                <li><p>MySQL</p></li>
                <li><p>Azure</p></li>
                <li><p>Terraform</p></li>
            </ul>
        </div>
    </div>
    <div class="flex">
        <div class="text-box">
            <h2 class="text-xl">Building @ <a href="https://quarry.video" target="_blank">Quarry.video</a></h2>
            <p>Jan 2023 -- May 2023</p>
            <br />
            <p>Fullstack design and development. Built product from 0 to 1.</p>
        </div>
        <div class="flex flex-col stack">
            <h2 class="text-xl">Stack</h2>
            <ul>
                <li><p>Typescript</p></li>
                <li><p>NextJS</p></li>
                <li><p>Python</p></li>
                <li><p>Django</p></li>
                <li><p>MongoDB</p></li>
                <li><p>Docker</p></li>
                <li><p>Terraform</p></li>
            </ul>
        </div>
    </div>
</div>
