---
import { Image } from "@astrojs/image/components";
import TechnologiesCard from "./TechnologiesCard.astro";
---

<div>
    <h1 class="text-4xl my-7 text-center text-gradient">Experience</h1>
    <div class="flex flex-wrap items-center">
        <div class="text-box">
            <h2 class="text-xl">Building @ Quarry.video</h2>
            <p>
                I'm currently building a tool to help video editors work more efficiently. 
                You can visit the WIP at <a href="https://quarry.video" target="_blank">quarry.video.</a>
                I've spent countless hours building features and designing the UI.
            </p>
            <br /> <!-- Remove this -->
            <h2 class="text-xl">Technologies</h2>
            <div class="flex justify-between">
                <TechnologiesCard name="TypeScript" src="/typescript.png" />
                <TechnologiesCard name="NextJS" src="/nextjs.svg" />
                <TechnologiesCard name="Golang" src="/golang.png" />
                <TechnologiesCard name="React" src="/react.png" />
                <TechnologiesCard name="Python" src="/python.png" />
                <TechnologiesCard name="MongoDB" src="/mongodb.png" />
            </div>
        </div>
        <div class="w-1/2">
            <Image
                src="/LandingPage.png"
                class="mx-auto max-w-[91%]"
                alt="Quarry.video Landing Page"
                width={450}
                height={210}
            />
        </div>
        <div class="w-1/2">
            <Image
                src="/SnippetViewer.png"
                class="mx-auto max-w-[91%]"
                alt="Quarry.video Snippet Viewer"
                width={450}
                height={210}
            />
        </div>
        <div class="text-box">
            <p>
                My contributions include but aren't limited to: building the frontend
                with NextJS, creating and hosting a centralized logging service with Go,
                and writing a database abstraction for our Django backend to safely make
                database calls.
            </p>
            <br /> <!-- Remove this -->
            <h2 class="text-xl">Technologies, cont.</h2>
            <div class="flex justify-around">
                <TechnologiesCard name="Docker" src="/docker.webp" />
                <TechnologiesCard name="Redis" src="/redis.jpg" />
                <TechnologiesCard name="Django" src="/django.png" />
                <TechnologiesCard name="Tailwind" src="/tailwind.png" />
            </div>
    </div>
    <div class="flex flex-wrap items-center">
        <div class="text-box">
            <h2 class="text-xl">Software Engineering Intern @ CriTech Research, Inc.</h2>
            <p>
                Over the summer, I'm working full time at CriTech Research, Inc. as an
                intern. Currently, I'm refactoring a legacy C# .NET codebase to make
                a more secure system. I also created a CI/CD pipeline with Jenkins to
                continually test and deploy the codebase.
            </p>
            <br /> <!-- Remove this -->
            <h2 class="text-xl">Technologies</h2>
            <div class="flex justify-between">
                <TechnologiesCard name="C#" src="/csharp.png" />
                <TechnologiesCard name=".NET" src="/dotnet.png" />
                <TechnologiesCard name="Jenkins" src="/jenkins.png" />
                <TechnologiesCard name="Typescript" src="/typescript.png" />
                <TechnologiesCard name="React" src="/react.png" />
            </div>
        </div>
        <div class="w-1/2">
            <Image
                src="/CriTech.jpg"
                class="mx-auto"
                alt="CriTech Logo"
                width={225}
                height={225}
            />
        </div>
    </div>
</div>
