---
import "../styles/index.css";

function getCurrentlyPlaying(): string | null {
    const url = "https://api.spotify.com/v1/me/player/currently-playing";
    const headers = {
        'Authorization': `Bearer ${process.env.SPOTIFY_TOKEN}`,
    };

    fetch(url, { headers})
        .then(response => response.json())
        .then(data => {
            const track = data.recenttracks.track[0];
            const artist = track.artist["#text"];
            const name = track.name;
            const url = track.url;
            return `<a target="_blank" href="${url}">${name} by ${artist}</a>`;
        })
        .catch(_ => { return null; });

    return null;
}

const LOVE = "<3";

let SONG = getCurrentlyPlaying();
let CURRENTLY_PLAYING = SONG ?? "nothing playing!";
---

<div class="flex justify-between">
    <p>currently listening to: { CURRENTLY_PLAYING }</p>
    <p>Site built with { LOVE } using the <a target="_blank" href="https://astro.build/">Astro</a> framework.</p>
</div>
