---
import ToggleTheme from "./ToggleTheme.astro";
import "../styles/index.css";
---

<div class="flex justify-between">
    <div class="header text-left font-bold text-lg">
        <a href="/">Jonas Groening</a>
    </div>
    <div class="header text-right mb-4">
        <a class="align-top mr-1" href="/experience">experience/</a>
        <a class="align-top mr-1" href="/education">education/</a>
        <a class="align-top mr-1" href="/projects">projects/</a>
        <!-- <a class="align-top mr-1" href="/blog">blog/</a> -->
        <a class="align-top" href="/images">images/</a>
        <ToggleTheme />
    </div>
</div>
