---
import ToggleTheme from "./ToggleTheme.astro";
---

<div class="flex justify-end">
    <div class="header text-right mb-4">
        <a class="align-top mr-1" href="/">index/</a>
        <a class="align-top mr-1" href="#Experience">experience/</a>
        <a class="align-top mr-1" href="#Education">education/</a>
        <a class="align-top mr-1" href="#Projects">projects/</a>
        <!-- <a class="align-top mr-1" href="/blog">blog/</a> -->
        <a class="align-top mr-1" href="/images">images/</a>
    </div>
    <ToggleTheme />
</div>
