<h1 id="Projects" class="text-4xl my-7 text-center text-gradient">Projects</h1>
<div class="flex flex-wrap">
    <div class="w-1/2 min-w-[20rem]">
        <div class="projects-text-box">
            <h2 class="text-xl">QLogger</h2>
            <p>
                I built a centralized logging service for Quarry.video. It's written in Go and uses
                MongoDB as a database. It's currently hosted on railway. Check out the repo
                <a href="https://github.com/jonasiwnl/qlogger" target="_blank">
                    here.
                </a>
            </p>
        </div>
    </div>
    <div class="w-1/2 min-w-[20rem]">
        <div class="projects-text-box">
            <h2 class="text-xl">Viz</h2>
            <p>
                This is a collection of some computer vision stuff in python.
                It uses libraries like opencv, numpy, and matplotlib, and more.
                Check out the repo
                <a href="https://github.com/jonasiwnl/viz" target="_blank">
                    here.
                </a>
                I'm still building new features when I have the time.
            </p>
        </div>
    </div>
    <div class="w-1/2 min-w-[20rem]">
        <div class="projects-text-box">
            <h2 class="text-xl">Concept Map Browser Extension</h2>
            <p>
                This is a collaborative project for a school club. It's a browser extension that
                allows you to highlight text and generate an interactive concept map from it.
                Check out the repo
                <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">
                    here.
                </a>
            </p>
        </div>
    </div>
    <div class="w-1/2 min-w-[20rem]">
        <div class="projects-text-box">
            <h2 class="text-xl">Various Simulations in Rust</h2>
            <p>
                I wanted to learn rust, so I made a few projects.
                These include a port of pipes.sh to rust, a physarum
                simulation, and an nbody simulation with its own
                quadtree implementation. All of these repos can be found
                on my <a href="https://github.com/jonasiwnl" target="_blank">github.</a>
            </p>
        </div>
    </div>
    <div class="w-1/2 min-w-[20rem]">
        <div class="projects-text-box">
            <h2 class="text-xl">Neural Network from Scratch</h2>
            <p>
                I built a neural network from scratch in python. Well, it uses numpy, but
                no Tensorflow, no PyTorch, no Keras. It's a simple network that supports
                saving and loading from a file, training, querying and backquerying. The
                repo is <a href="https://github.com/jonasiwnl/nnfs" target="_blank">here.</a>
            </p>
        </div>
    </div>
    <div class="w-1/2 min-w-[20rem]">
        <div class="projects-text-box">
            <h2 class="text-xl">A Noise Library in Golang</h2>
            <p>
                I'm writing a noise library in Go. It's a work in progress, with Perlin,
                OpenSimplex, and Random noise being the first implementations. The code is
                <a href="https://github.com/jonasiwnl" target="_blank">here.</a>
            </p>
        </div>
    </div>
</div>
