<div>
    <h1 class="text-4xl my-7 text-center">Projects</h1>
    <div class="text-box">
        <h2 class="text-xl">MonkeyType-Friends</h2>
        <p>
            I wanted to compete with my friends in MonkeyType, so I'm making
            a website to do it. The source code can be seen
            <a href="https://github.com/arael34/monkeytype-friends" target="_blank">
                here.
            </a>
            This is still a WIP.
        </p>
    </div>	
    <div class="text-box">
        <h2 class="text-xl">QLogger</h2>
        <p>
            I built a centralized logging service for Quarry.video. It's written in Go and uses
            MongoDB as a database. It's currently hosted on railway. Check out the repo
            <a href="https://github.com/arael34/qlogger" target="_blank">
                here.
            </a>
        </p>
    </div>
    <div class="text-box">
        <h2 class="text-xl">Concept Map Browser Extension</h2>
        <p>
            This is a collaborative project for a school club. It's a browser extension that
            allows you to highlight text and generate an interactive concept map from it.
            Check out the repo
            <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">
                here.
            </a>
        </p>
    </div>
    <div class="text-box">
        <h2 class="text-xl">Various Rust simulations</h2>
        <p>I wanted to learn rust, so I made a few simulations.</p>
        <h3>A port of pipes.sh</h3>
        <h3>Physarum simulation</h3>
        <h3>Quadtree Nbody simulation</h3>
    </div>
</div>
