<h1 id="Projects" class="text-4xl my-7 text-center text-gradient">Projects</h1>
<div class="flex flex-wrap">
    <div class="w-1/2">
        <div class="projects-text-box">
            <h2 class="text-xl">QLogger</h2>
            <p>
                I built a centralized logging service for Quarry.video. It's written in Go and uses
                MongoDB as a database. It's currently hosted on railway. Check out the repo
                <a href="https://github.com/jonasiwnl/qlogger" target="_blank">
                    here.
                </a>
            </p>
        </div>
    </div>
    <div class="w-1/2">
        <div class="projects-text-box">
            <h2 class="text-xl">Monkeytype-Friends</h2>
            <p>
                I wanted to compete with my friends in MonkeyType, so I'm making
                a website to do it. The source code can be seen
                <a href="https://github.com/jonasiwnl/monkeytype-friends" target="_blank">
                    here.
                </a>
                It works by calling the monkeytype API. This is still a WIP.
            </p>
        </div>
    </div>
    <div class="w-1/2">
        <div class="projects-text-box">
            <h2 class="text-xl">Concept Map Browser Extension</h2>
            <p>
                This is a collaborative project for a school club. It's a browser extension that
                allows you to highlight text and generate an interactive concept map from it.
                Check out the repo
                <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">
                    here.
                </a>
            </p>
        </div>
    </div>
    <div class="w-1/2">
        <div class="projects-text-box">
            <h2 class="text-xl">Various Rust Simulations</h2>
            <p>
                I wanted to learn rust, so I made a few projects.
                These include a port of pipes.sh to rust, a physarum
                simulation, and an nbody simulation with its own
                quadtree implementation. All of these repos can be found
                on my <a href="https://github.com/jonasiwnl" target="_blank">github.</a>
            </p>
        </div>
    </div>
</div>

<style>
    a:hover {
        text-decoration: underline;
    }
</style>
