<h1 id="Projects" class="text-3xl mt-10 text-gradient">Projects</h1>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">Sink</h2>
        <p>
            I'm building an easy file transfer system for myself. This issue stems from file-sharing between my phone and computers.
            <a href="https://github.com/jonasiwnl/sink" target="_blank">repo.</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Golang</p></li>
            <li><p>Typescript</p></li>
            <li><p>NextJS</p></li>
            <li><p>Redis</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">Embedchain</h2>
        <p>
            I've contributed to the open source library
            <a href="https://github.com/embedchain/embedchain" target="_blank">Embedchain.</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Python</p></li>
            <li><p>Typescript</p></li>
            <li><p>Elastisearch</p></li>
            <li><p>ChromaDB</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">QLogger</h2>
        <p>
            I built a centralized, hostable logging service.
            <a href="https://github.com/jonasiwnl/qlogger" target="_blank">repo</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Golang</p></li>
            <li><p>Typescript</p></li>
            <li><p>MongoDB</p></li>
            <li><p>Docker</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">Concept Map Generator</h2>
        <p>
            A semester-long project built with a team of student developers.
            <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">repo</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Python</p></li>
            <li><p>Flask</p></li>
            <li><p>Javascript</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">Hazard Detector (Spartahack 8)</h2>
        <p>
            A project for Spartahack 8, winning the best use of Twilio. We built a
            smart logging and alarm system for homes using an Arduino board.
            <a href="https://github.com/jonasiwnl/spartahack8" target="_blank">repo</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>C++</p></li>
            <li><p>Arduino</p></li>
            <li><p>Python</p></li>
            <li><p>Flask</p></li>
            <li><p>Twilio</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-10">
    <div class="text-box">
        <h2 class="text-xl">Simulations in Rust</h2>
        <p>
            Various simulations in rust! This is how I learned programming before university.
            <a href="https://github.com/jonasiwnl/nbody" target="_blank">N-body</a>
            <a href="https://github.com/jonasiwnl/physarum" target="_blank">Physarum</a>
            <a href="https://github.com/jonasiwnl/quickpipes" target="_blank">Pipes</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Rust</p></li>
        </ul>
    </div>
</div>
