<h1 id="Projects" class="text-3xl mt-10 text-gradient">Projects</h1>
<!--
    TODO:
    QLogger
    Concept Map
    Various Simulations in Rust
    SpartaHack 8
    EmbedChain
-->

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">Embedchain</h2>
        <p>
            I contribute to the open source library
            <a href="https://github.com/embedchain/embedchain" target="_blank">Embedchain.</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Python</p></li>
            <li><p>Typescript</p></li>
            <li><p>Elastisearch</p></li>
            <li><p>ChromaDB</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">QLogger</h2>
        <p>
            I built a centralized, hostable logging service.
            <a href="https://github.com/jonasiwnl/qlogger" target="_blank">repo</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Golang</p></li>
            <li><p>Typescript</p></li>
            <li><p>MongoDB</p></li>
            <li><p>Docker</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">Concept Map Generator</h2>
        <p>
            A semester-long project built with a team of student developers.
            <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">repo</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Python</p></li>
            <li><p>Flask</p></li>
            <li><p>Javascript</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-3">
    <div class="text-box">
        <h2 class="text-xl">No Sweat (Spartahack 8)</h2>
        <p>
            A project for Spartahack 8, winning the best use of Twilio. We built a
            smart logging and alarm system for homes using an Arduino board.
            <a href="https://github.com/jonasiwnl/spartahack8" target="_blank">repo</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>C++</p></li>
            <li><p>Arduino</p></li>
            <li><p>Python</p></li>
            <li><p>Flask</p></li>
            <li><p>Twilio</p></li>
        </ul>
    </div>
</div>

<div class="flex mb-10">
    <div class="text-box">
        <h2 class="text-xl">Simulations in Rust</h2>
        <p>
            Various simulations in rust! This is how I learned programming before university.
            <a href="https://github.com/jonasiwnl/nbody" target="_blank">N-body</a>
            <a href="https://github.com/jonasiwnl/physarum" target="_blank">Physarum</a>
            <a href="https://github.com/jonasiwnl/quickpipes" target="_blank">Pipes</a>
        </p>
    </div>
    <div class="stack">
        <h2 class="text-xl">Stack</h2>
        <ul>
            <li><p>Rust</p></li>
        </ul>
    </div>
</div>

<!--
<div class="w-1/2 min-w-[20rem]">
    <div class="projects-text-box">
        <h2 class="text-xl">QLogger</h2>
        <p>
            I built a centralized logging service. It's written in Go and uses
            MongoDB as a database. Check out the repo
            <a href="https://github.com/jonasiwnl/qlogger" target="_blank">
                here.
            </a>
        </p>
    </div>
</div>
<div class="w-1/2 min-w-[20rem]">
    <div class="projects-text-box">
        <h2 class="text-xl">Viz</h2>
        <p>
            This is a collection of some computer vision stuff in python.
            It uses libraries like opencv, numpy, and matplotlib, and more.
            Check out the repo
            <a href="https://github.com/jonasiwnl/viz" target="_blank">
                here.
            </a>
            I'm still building new features when I have the time.
        </p>
    </div>
</div>
<div class="w-1/2 min-w-[20rem]">
    <div class="projects-text-box">
        <h2 class="text-xl">Concept Map Browser Extension</h2>
        <p>
            This is a collaborative project for a school club. It's a browser extension that
            allows you to highlight text and generate an interactive concept map from it.
            Check out the repo
            <a href="https://github.com/kuldeep7688/concept-map-browser-extension" target="_blank">
                here.
            </a>
        </p>
    </div>
</div>
<div class="w-1/2 min-w-[20rem]">
    <div class="projects-text-box">
        <h2 class="text-xl">Various Simulations in Rust</h2>
        <p>
            I wanted to learn rust, so I made a few projects.
            These include a port of pipes.sh to rust, a physarum
            simulation, and an nbody simulation with its own
            quadtree implementation. All of these repos can be found
            on my <a href="https://github.com/jonasiwnl" target="_blank">github.</a>
        </p>
    </div>
</div>
<div class="w-1/2 min-w-[20rem]">
    <div class="projects-text-box">
        <h2 class="text-xl">Neural Network from Scratch</h2>
        <p>
            I built a neural network from scratch in python. Well, it uses numpy, but
            no Tensorflow, no PyTorch, no Keras. It's a simple network that supports
            saving and loading from a file, training, querying and backquerying. The
            repo is <a href="https://github.com/jonasiwnl/nnfs" target="_blank">here.</a>
        </p>
    </div>
</div> -->
