---
import Moon from "../../public/moon.astro";
import Sun from "../../public/sun.astro";
---

<button toggle-mode>
    <div class="flex toggle flex-col ml-2">
        <Sun />
        <Moon />
    </div>
</button>

<script>
    function toggleMode() {
        switch (document.documentElement.attributes.getNamedItem("data-theme")?.value) {
            case "dark":
                document.dispatchEvent(new CustomEvent("set-theme", { detail: "light" }))
                break;
            case "light":
                document.dispatchEvent(new CustomEvent("set-theme", { detail: "dark" }))
        }
    }

    const buttons = document.querySelectorAll("[toggle-mode]");

    buttons.forEach((button) => {
        button.addEventListener("click", () => toggleMode());
    });
</script>

<style>
    .toggle {
        transform: translateY(var(--toggle-button-shift));
    }
</style>
